<%- include("partials/header.ejs") %>



<div class="container mt-100 mt-60">
    <div class="row">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">Latest Blog &amp; News</h4>
            </div>
            <button type="button" class="btn btn-success" onclick="window.location.href='form'">Add Article</button>
        </div><!--end col-->
    </div><!--end row-->

    <% blogPosts.forEach(post => { %>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="blog-post rounded border">
                    <div class="blog-img d-block overflow-hidden position-relative">
                        <div class="overlay rounded-top bg-dark"></div>
                    </div>
                    <div class="content p-3">
                        <small class="text-muted p float-right"><%=post.datePosted%></small>
                        <h4 class="mt-2"><a href="/post/<%= post.id%>" class="text-dark title"><%=post.title%></a></h4>
                        <% const truncatedString = post.content.substring(0, 50); %>
                        <p class="text-muted mt-2"><%=truncatedString%></p>
                    </div>
                </div>
            </div>
    <% }) %>
    
        

</div>
